<!DOCTYPE html>
<head>
  <title>Page Ranker</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='uwu.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="/static/uwu.jpg" class="icon">
  <h1>Page Ranker</h1>
  <form method="POST" action="{{ url_for('index') }}">
    <input id='value' name='value' type="number"/>
    <input type="submit" value="Click pour éxécuter" />
  </form>
  <h3 class="footer">Code fait par Kylian, Valentin et Raphael.</h3>
</body>
