<!DOCTYPE html>
<head>
  <title>Page Ranker</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='uwu.jpg') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='uwu.jpg') }}" class="icon" />
  <div class="header">
    <h3 class="miniweb">Dernier Miniweb</h3>
    <h1 class="stats">Graphique statistiques</h1>
  </div>
  <img src="{{ url_for('static', filename='result.png') }}" alt="Result" class="result1">
  <img src="{{ url_for('static', filename='result2.png') }}" alt="Result2s" class="result2">
</body>