<!DOCTYPE html>
<head>
  <title>Page Ranker</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='uwu.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='uwu.jpg') }}" class="icon" />
  <div style="display: flex; justify-content: space-between;">
    <h3 style="margin-right: 200px;">Dernier Miniweb</h3>
    <h1 style="text-align: center;border-left-style: solid;margin-left: 375px;border-left-width: 0px;">Graphique statistiques</h1>
  </div>
  <img src="{{ url_for('static', filename='result.png') }}" alt="Result" style="left: 400px;">
  <img src="{{ url_for('static', filename='result2.png') }}" alt="Result2s" style="right: 400px;bottom: 500px;">
</body>
